
body {
    background: linear-gradient(#141e30,#243b55);
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


.container {
    height: 100vh;
   
   
}
.container .main-container {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
   
}





.container .main-container .content {
   flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  
}


.container .main-container .content .c-bg{
   width: 50%;
    display: flex;
    gap: 1em;
    background-color: rgba(127, 125, 125, 0.188);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    box-shadow: 0.2em 0.2em 0.2em rgba(7, 7, 7, 0.345);
   
}

.container .main-container .content .c-bg .header .left{
    display: flex;
    padding: 0 1em;
    color: cyan;
   
}

.container .main-container .content .c-bg .header .left p{
    margin: 0px;
    font-size: 32px;
    
   
    font-weight: bold;
}


.container .main-container .content .c-bg .header .left div img{
   
    max-width: 36px;
    max-height: 36px;
}

.container .main-container .content .c-bg form {
     width: 70%;
     flex: 1 1 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    border-left: 1px solid rgba(0, 255, 255, 0.167);
}

.container .main-container .content .c-bg form div p{
    font-size: 32px;
    margin: 0.5em;
   
}


 .container .main-container .content .c-bg form .input-but{
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;

 }


.container .main-container .content .c-bg form div input{
    background: none;
    border: none;
    outline: none;
    padding: 1em;
    color: white;
}

.container .main-container .content .c-bg form .welcome{
   margin-right: auto;
    
}

.container .main-container .content .c-bg form .submit{
    width: fit-content;
    padding: 0.2em 2em;
    background-color: rgba(240, 248, 255, 0.354);
    
}

.container .main-container .content .c-bg form div a{
    text-decoration: none;
    color: white;
    font-size: smaller;
    border-bottom: 1px solid rgba(0, 255, 255, 0.362);
    
}


.container .main-container .content .c-bg form .lost p{
    font-size: small;
}

container .main-container .content .c-bg form .lost p{
    font-size: small;
}

.container .main-container .content .c-bg form .link{ 
    display: flex;
    gap: 0.1em;
    flex-direction: column;
     
 }
 .container .main-container .content .c-bg form .link .back {
    font-size: small;
    border: none;
}
@media screen and (max-width: 600px)
    {
        .container .main-container .content .c-bg{
           flex-direction: column;
           align-items: center;
           flex: 1 1 0;
            
         }

         .container .main-container .content .c-bg form {
            border:none;
            border-top: 1px solid rgba(0, 255, 255, 0.251);
        }
    }

    @media screen and (min-width: 601px) and (max-width: 1024px)
    {
        .container .main-container .content .c-bg{
            width: 90%;
           flex-direction: column;
           align-items: center;
            
         }

         .container .main-container .content .c-bg form {
            border:none;
            border-top: 1px solid rgba(0, 255, 255, 0.251);
        }
    }
 

 





















